html
{
	font-family: "Times New Roman", Times, serif;
}

.toolbar > *:not(:last-child)
{
	margin-right: 5px;
}

.words
{
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 8px;
}

.words li
{
	display: inline-block;
	margin: 4px;
}
